@page "/"

<TryBlazor @ref="_tryBlazor"
           DefaultValue="@DefaultVal"
           ThrowError="false"
           OnCompiled="@OnCompiled" />

<hr stye="margin: 0 1rem;" />

<TryBlazorMultiFile @ref="_tryBlazorMultiFile"
                    CodeFiles="@_codeFiles"
                    OnCompiled="@OnMultiFileCompiled"
                    DefaultRender="false"
                    />

<hr stye="margin: 1rem 0;" />

<div>
    @_compileContent
</div>

<div>
    <pre>@_logs</pre>
</div>